.box{
    width: 800px;
    height: 250px;
    padding: 20px;
    border: 5px solid #fff;
    margin-bottom: 20px;
}

.drag-card{
    float: left;
    width: 80px;
    height: 80px;
    background: burlywood;
    padding: 20px;
    margin: 20px;
}